
	<% if @status_code == 200 %> 
	$("#show").append("<%= j render( 'bot/partials/prev') %>")
	$("#message_alert").html("<center> <%= @status_m.html_safe %> </center> ");

	<% else %> 

	$("#show").append("<div class ='alert alert-danger '> <center>  You cannot login because of invalid credentials </center> </div>");

	<% end %>
$("html, body").animate({ scrollTop: $(document).height() }, 1000);
