
	<% if @status_code == 200 %> 
	$("#append_after_login").html("<%= j render( 'bot/partials/prev') %>")
	$("#message_alert").html("<center> <%= @status_m.html_safe %> </center> ");

	<% else %> 

	$("#append_after_login").html(" ");
	$("#message_alert").html("<div class ='alert alert-danger '> <center>  You cannot login because of invalid credentials </center> </div> ");

	<% end %>
$("html, body").animate({ scrollTop: $(document).height() }, 1000);
