

<div id="zipi-chatbox">
<div>
<div id="chatflow" class=" ">
<div class="header">
<div class="cross" onclick="zipitoggleChat()">
	
</div>
<div class="header_title">Let's Talk</div>
<div class="header_subtitle"></div>
</div>
<div class="frameparent" style="overflow: hidden;"><iframe src="http://instachatbot.herokuapp.com/"></iframe>
</div>
</div>
<div id="floatbutton" onclick="zipitoggleChat()">
<div class="opened  "></div>
<div class="closed  "></div>
</div>
</div>
</div>