<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Customer Request</h1>
    <p>
    <%= JSON.parse(@body_details)["message"] %>
      
    </p>
  </body>
</html>