
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet/less" href="main.less">
	<link rel="stylesheet/less" href="style.less">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js"></script>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		

	</style>
</head>
<body>
			<ul class="messages">
				<li class="message left appeared">
					<div class="avatar"> <img src="images/tackie-big.png"> </div>
					<div class="text_wrapper">
						<div class="text-header">Please enter your details to login</div>
						<ul>
							<li id="status-li">
								<div class="row flag">
									<div class="col-xs-5 flag-row" >
										<img src="images/flag_au.png">
										<img src="images/flag_in.png" class="flag_in">
										<img src="images/down-arrow.png" class="down-arrow">
									</div>
									<div class="col-xs-7">
										<div class="from-val val">
											200.00 <span>AUD</span>
										</div>
										<div class="to-val val">
											10337.34 <span>INR</span>
										</div>
									</div>
								</div>
								<div class="date-time">
									<div class="date">
										18th March 16
									</div>
									<div class="time">
										4:30 PM
									</div>
								</div>
								<div class="status-div">
									<div class="head">Beneficiary</div>
									<div class="val">Rajat H.</div>
								</div>
								<div class="status-div">
									<div class="head">FX Rate</div>
									<div class="val">50.9</div>
								</div>
								<div class="status-div">
									<div class="head">Status</div>
									<div class="val">Pending</div>
								</div>
							</li> 
							<li id="clear-pass-li">
							<div>Write to us</div>
								<div>Satisfied</div>
							</li> 
						</ul>
					</div>
				</li>
			</ul>
		<div class="message_template">
			<li class="message">
				<div class="avatar">

				</div>
				<div class="text_wrapper">
					<div class="text">

					</div>
				</div>
			</li>
		</div>
	</body>
	</html>
