  



   <li class="message left appeared">
  <div class="avatar"> <%= image_tag "tackie-big.png" %> </div>
                <div class="text_wrapper">
                    <div class="text-header">Select sending & Receiving countries</div>
                    <ul>
                        <li>
                            <div class="to_from">From</div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle country" type="button" data-toggle="dropdown">
                            <span class="country_name">US Dollar</span>
                                  <%= image_tag "chevron.png" , :class => "drop_icon" %>  </button>
                                <ul class="dropdown-menu to-dropdown">
                                    <li><a href="#">Australian Dollar</a></li>
                                    <li><a href="#">Hong Kong Dollar</a></li>
                                    <li><a href="#">Singapore Dollar</a></li>
                                </ul>
                            </div>
                            <div class="to_from">To</div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle country" type="button" data-toggle="dropdown">
                            <span class="country_name">Indian Ruppee</span>
                               <%= image_tag "chevron.png" , :class => "drop_icon" %> 
                                   </button>
                                <ul class="dropdown-menu to-dropdown">
                                    <li><a>Australian Dollar</a></li>
                                    <li><a>Hong Kong Dollar</a></li>
                                    <li><a>Singapore Dollar</a></li>
                                    <li><a href="#">Bangladeshi Taka</a></li>
                                    <li><a href="#">Euro</a></li>
                                    <li><a href="#">British Pound</a></li>
                                    <li><a href="#">IndianEsian Rupiah</a></li>
                                    <li><a href="#">SriLankan Ruppee</a></li>
                                    <li><a href="#">Malaysian Ringgit</a></li>
                                    <li><a href="#">Nepalese Ruppee</a></li>
                                    <li><a href="#"> Philleppine Pese </li>

	                                </ul>
                            </div>
                        </li>


                        <li id="center-align"> <%=link_to "Rate " ,  bot_fx_path  , :remote => "true" %></li>
                    </ul>
                </div>
            </li>









<div id="showrate">
</div>


