
<div id = "status"> 
	
	</div>
<center>
	
	<div id="append_after_login"> 

  <li class="message right appeared">
		 	<div class="text_wrapper">
		 		<div class="text">
		 		Existing Customer 
				</div>
		 	</div>
		 </li>

<li class="message left appeared">
      <div class="avatar"> <%= image_tag "tackie-big.png" %> </div>
      <div class="text_wrapper">
        <div class="text-header">Please enter your details to login</div>
        <ul>
            <%= form_tag(bot_login_path , :method=>'post', :multipart => true , :class => "text-left" , :id => "login-form" , :remote => "true") do %>

          <li>
          <label for="lg_username" style="display: none;" class="sr-only">Email</label>

          <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="Email"></li>


          <li>
          <label for="lg_password" style="display: none;" class="sr-only">Password</label>

          <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="Password"></li> 
          <li id="clear-pass-li">
  	<div><button onclick="document.getElementById('login-form').reset(); return false">
          	Clear </button>
          	</div>
          	<div><%= button_tag(:type => "submit")  do %>
   				Login
   				<% end %></div>
          </li> 
        </ul>
      </div>
     </li>


		
					
					
					

				
			
			
		<% end %>
	<br/><br/>
	
	</div>

</center>