<li class="message left appeared">
		 	<div class="avatar"> <%= image_tag "tackie-big.png" %> </div>
					<div class="text_wrapper">
        <div id="message_alert" class="text-header"> 
</div>
<ul>
<li>
        <%=link_to "Previous Transactions" ,  bot_previous_path , :remote => "true" %>

</li>
<li>
<%=link_to "Current Fx Exchange Rates" ,  bot_fx_back_path , :remote => "true" %>

</li>
<li>
	<%=link_to "Beneficiary List" ,  bot_beneficiary_path  , :remote => "true" %>

</li>
</ul>

</div>
</li>
</div> 

<div id="append_after_options">
</div>