<li class="message left appeared">
            <div class="avatar"> <%= image_tag "tackie-big.png" %> </div>
                    <div class="text_wrapper">
                        <div class="text-header">Please type your query and I will help you on the way.</div>
                       
                    </div>
                </li>
                

<script type="text/javascript">
  $( function() {
    var availableTags = [
           "What is Instarem?" , 
           "What is the address of Australia Office?" ,
           "When are you available on chat/email/call?",
            "Can My Company Open An Account With Instarem?",
            "How do I contact Instarem Support Representatives?",
"Any exception to use someone else's Instarem Account to transfer funds?",
"Am asking your policy around holding a customers' details after the client has ceased to be your client?",
"What currencies does Instarem support?",
"What Are Instarem’s Fees?",
"IS IT SAFE TO SEND MONEY THROUGH INSTAREM?",
"How many accounts I can create with Instarem?",
"Instarem has on-call support for queries?",
"WHY ARE YOUR RATES SO DIFFERENT THAN BANKS AND OTHER OPERATORS?",
"What are your record retention policies, how long will you be retaining my details in your system? How are you planning to dispose it off? What's your policy on that?",
"How will you remove my records after I close my account? I want to know the exact procedure?",
"What are swift codes, ABA and IBAN numbers and sort codes?",
"I will be moving to Singapore so wanted to know. How can I transfer my money from Singapore to India using InstaRem?",
"I am unable to receive emails from Instarem. What should I do?",
"Can I use the Instarem account of my parent/husband/wife/friend?",
"Is My Money Held In A Segregated Account With Instarem?",
"Why Use Instarem Over A Bank?",
"Does Instarem Offer Forward Contracts?"
        ];
        $( "#message_input" ).on( "autocompleteselect", function( event, ui ) {} );

        $( "#message_input" ).autocomplete({
            source: availableTags,
            position: {  collision: "flip"  } ,
            select: function( event, ui ) {
             

            }

        });
  } );
</script>